{% extends "account/base.html" %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}
{% load i18n %}
{% load account %}

{% load tailwind_filters %}

{% block content %}



<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        {% if token_fail %}{% trans "Bad
            Token" %}{% else %}{% trans "Change Password" %}{% endif %}
      </h2>
    </div>
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
        request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">  
              <!--FORM-->
              <form method="post" action="{{ action_url }}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="submit"
                      class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700" value="{% trans 'change password' %}"/>
              </form>
        
            </div>
          </div>

        {% else %}
        <div>
            <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
              <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            
                  <span class="block text-blue-600">{% trans 'Your password is now changed.' %}</span>
        
            </div>
          </div>

        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}