{% load static %}
{% load tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_css %}

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>

    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!--JQuery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>

    
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-100 dark:bg-dark-main  ">
    
    {% block navbar %}{% endblock navbar %}

     <div class="flex justify-center h-screen ">
      
        <div class="w-full pt-32 lg:pt-16 px-2" >
        {% block messages %}{% include 'messages.html' %}{% endblock messages %}
        {% block content %}{% endblock content %}
        </div>


     </div>

   
    <!-- <script src="{% static '/js/app.js' %}"> </script> -->
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

    {% block javascript %}
    
    {% endblock javascript %}
</body>
</html>